.dark {
  background-color: #91A995;
}

.logo {
  max-height: 6rem;
}

.signup {
  background-image: image("image/signup-banner.jpg");
  background-color: lightgrey;
}

.thanks {
  color: white;
  text-align: center;
}

.button {
  background-color: #91a995;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.banner {
  text-align: center;
  position: relative;
  color: white;
}

.intro {
  position: absolute;
  bottom: 10%;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #000;
  text-decoration: none;
}

.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited,
.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color:#91a995;
  color: white;
}


@media only screen and (min-width: 25em) {

  .nav li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .banner-img {
    padding-top: 56.25%;
  }

  .intro {
    bottom: 20%;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    text-align: left;
  }

}
